@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

* {
  color: white;
  margin: 0%;
  position: relative;
  font-family: 'Solway', serif;
}

.main {
  display: inline-block;
  float: right;
  margin-left: 14%;
  padding-left: 10px;
  padding-right: 10px;
  width: 85%;
  height: 90%;
  position: fixed;
  overflow: auto;
  background-color: rgb(24, 23, 23);
}

#arrow {
  height: 35px;
  margin: 15px;
  margin-left: 20px;
  background-color: inherit;
}

#logo {
  height: 40px;
  margin: 25px;
}

.nav {
  float: left;
  width: 14%;
  min-width: 130px;
  height: 90%;
  position: fixed;
  overflow: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 20px;
  background-color: inherit;
}

.rec {
  height: 80px;
  width: 300px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(48, 47, 47);
}

#recgroup {
  margin-left: 15px;
}

.rec img {
  height: inherit;
  border-radius: inherit;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  position: absolute;
}

#heart {
  height: 25px;
  position: absolute;
  margin-top: 30px;
  margin-left: 25px;
}

.rec h3 {
  text-align: center;
  position: relative;
  padding-top: 30px;
  font-size: medium;
}

h2 {
  margin: 25px;
}

#bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: rgb(31, 29, 29);
  border-top: 1px solid white;
}

#play {
  height: 60px;
  padding-left: 300px;
  padding-top: 10px;
}

#options {
  height: 25px;
  float: right;
  padding-top: 25px;
  padding-right: 30px;
}

.playing {
  height: 50px;
  width: 200px;
  margin-left: 20px;
  margin-top: 12px;
  background-color: inherit;
  float: left;
}

.playing img {
  height: inherit;
}

.playing h3 {
  display: inline-block;
  text-align: center;
  color: white;
  margin: 2px;
  margin-bottom: 10px;
}

.navp {
  height: 25px;
  margin: 5px;
  margin-left: 20px;
  display: inline-block;
}

.navs {
  display: flex;
  height: 40px;
  border-radius: 4%;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;
}

.navt {
  position: absolute;
  display: inline;
  margin-left: 40px;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#profilel {
  position: relative;
  float: right;
  height: 35px;
  width: 30px;
  margin-right: 50px;
  margin-top: 15px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#profiler {
  position: relative;
  float: right;
  height: 35px;
  width: 30px;
  margin-right: 80px;
  margin-top: 15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#profilem {
  position: absolute;
  float: right;
  height: 35px;
  width: 65px;
  margin-right: 80px;
  margin-top: 15px;
  right: 30px;
}

#profileimg {
  position: absolute;
  right: 118px;
  height: 32px;
  width: 30px;
  margin-right: 50px;
  margin-top: 17px;
  border-radius: 50%;
}

#profiletext {
  display: inline;
  position: absolute;
  margin-right: 50px;
  margin-top: 22px;
  right: 70px;
}

#profilearrow {
  height: 20px;
  display: inline;
  position: absolute;
  margin-right: 50px;
  margin-top: 22px;
  right: 50px;
}

#flexboxd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mp {
  height: 55px;
  margin-top: 10px;
  margin-left: 90px;
  padding-left: 100px;
}

.ro {
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

#playerimg {
  width: 50px;
  margin: 12px;
  display: inline-block;
}

#songname {
  position: absolute;
  bottom: 30px;
  display: inline-block;
}

#artist {
  font-size: smaller;
  position: absolute;
  bottom: 15px;
  left: 75px;
  display: inline-block;
}

#heart1 {
  height: 25px;
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 150px;
}

#flexboxm {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 250px;
  background-color: rgb(31, 30, 30);
}

.podcast {
  height: 160px;
  margin: 20px;
}

h4 {
  margin-left: 22px;
}

#flexboxn {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexn {
  margin-bottom: 20px;
}

@media all and (max-width: 1100px) {
  .flexd {
    display: none;
  }
  .mp {
    display:flex;
    padding: 0%;
    margin-left: 0%;
  }
  #flexboxd {
    justify-content: center;
  }
}

@media all and (max-width: 700px) {
  .flexm {
    margin: 10px;
  }
  .main {
    box-sizing: border-box;
    margin-left: 130px;
  }
  .flexm {
    margin-right: 50px;
  }

}

